<launch>
  <node pkg="move_base" type="move_base" name="move_base" required="true" output="screen">
    <remap from="/cmd_vel" to="/RosAria/cmd_vel" />
    <remap from="/odom" to="/RosAria/pose" />
    <rosparam file="$(find competition)/files/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find competition)/files/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find competition)/files/navigation/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find competition)/files/navigation/global_costmap_params.yaml" command="load" />
    <!--param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/-->
    <!--rosparam file="$(find competition)/files/navigation/dwa_local_planner_params.yaml" command="load" /-->
    <rosparam file="$(find competition)/files/navigation/base_local_planner_params.yaml" command="load" />
    <param name="controller_frequency" value="5.0" />
  </node>
</launch>
