<launch>
  <!--node pkg="ROSARIA" type="RosAria" name="RosAria" required="true">
    <param name="port" type="str" value="/dev/ttyUSB0"/>
  </node-->
  <node pkg="LMS1xx" type="LMS100" name="LMS100" required="true">
    <param name="host" type="str" value="192.168.0.1"/>
  </node>
  <node pkg="rosbridge_server" type="rosbridge.py" name="rosbridge_server" required="true" />
  <include file="$(find competition)/launch/move_base.launch"/>
  <include file="$(find competition)/launch/gmapping.launch"/>
</launch>
